* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 2px;
    font-size: 112.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;

}

.h1,h2,h3 {
    font-family: 'Crimson Text', serif;
    font-style: 150%;

}


a { 
    color: floralwhite;
}

header, footer {
    grid-column: 1 / 4;
  }


header img {
    height: 200px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 100%);
    grid-gap: 1em;
}


header, footer > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.footer-item img {
    width: 50px;
}

.footer-item div {
    display: block;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
}

.item {
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.itemcv {
    background-color: rgb(223, 201, 77);
    box-shadow: black;
    padding-bottom: 10px;
    box-shadow: 5px 10px #888888;
}

nav {
    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: rgb(223, 201, 77);
}

.footer-item {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
}


/* mobile */
@media only screen and (max-width: 600px) {

    .article {
    font-size: 50%;
}
} 

/* desktop */
@media (max-width: 992px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 